*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
/*  heaader section */
.header{
    display: flex
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
}